#about{
    font-family: var(--poppins-sans);
    position: relative;
}
.p1{
margin-bottom: 2rem;
}

.line{
    width: 35px;
    height: 5px;
    background-color: var(--secondary-color);
    justify-self: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.about-text-container, .expertise, .skills{
    display: flex;
    flex-direction: column;
}

.about-text-container{
    margin-bottom: 2rem;
}

.title2{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 1rem;
}

.about-text-container p{
    font-family: var(--poppins-sans);
    font-weight: 400;
    font-size: 1rem;
    color: var(--grey);
    font-weight: 400;
    line-height: 2rem;
    text-align: justify;
}

.about-text-container p span{
    font-weight: bolder;
}

.about-text-container p a{
    font-weight: 900;
    color: var(--secondary-color);
    text-decoration: underline;
}

.skills{
    /* align-items: center; */
    margin-bottom: 2rem;
}

.title3{
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--poppins-sans);
    color: var(--grey);
}

.skills-div, .skills-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skills-div {
    width: 600px;
    gap: 1rem;
    flex-direction: row;
}