@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* other css file imports */
@import url('sections/header.css');
@import url('sections/hero.css');
@import url('sections/about.css');
@import url('sections/projects.css');
@import url('sections/contact.css');
@import url('sections/footer.css');


/* css variables */
:root{
    --montserrat-sans: "Montserrat", sans-serif;
    --poppins-sans: "Poppins", sans-serif;
    --primary-color: #24252A;
    --blue: #092B9C;
    --secondary-color: grey;
    --black: black;
    --grey: grey;
    --light-grey: rgb(239, 236, 236);
    --dark-grey: rgb(118, 117, 117);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a .btn{
    transition: all 300ms ease;
}

section, footer{
    box-sizing: border-box;
    padding-top: 4vh;
}

section {
    height: 96vh;
    min-height: fit-content;
    margin: auto 10rem;
}

.section-container{
    display: flex;
    gap: 64px;
    margin-top: 2rem;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.p1 {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: var(--secondary-color);
}

.title{
    font-family: var(--poppins-sans);
    color: var(--black);
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

.line{
    width: 35px;
    height: 5px;
    background-color: var(--blue);
    justify-self: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.icon2 {
  cursor: default;
  height: 1.3rem;
}

.skills-container {
    color: var(--grey);
    font-weight: 700;
    font-size: 0.85rem;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: fit-content;
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 10px;
}

/* Media Queries */
@media screen and (max-width: 1400px){
    .hero{
        height: 83vh;
        margin-bottom: 10rem;
    }
    .copy{
        font-size: 1rem;
    }.footer-menu2 a{
        font-size: 0.9rem;
    }.footer-logo{
        font-size: 1.2rem;
    }.border-right, .border-left{
        border-right: none;
        border-left: none;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
    .hero{
        display:block;
    }
    section, .section-container{
        height: fit-content;
        margin: 0 5%;
    }
    .section__pic-container{
        height: 275px;
        width: 275px;
        margin: 0 auto 2rem;
    }.section-container{
        display: block;
    }.skills-div{
        width: 100%;
    }
    .section-container2, .project-container{
        display: flex;
        flex-direction: column;
    }.project-img-container img{
        width: 100%;
        height: 150px;
    }.project-img-container{
        /* margin-bottom: 1rem; */
        order: 1;
    }.project-content{
        order: 2;
    }.section__text__p1, 
    .section__text__p3{
    font-size: 0.8rem;
}
.p1, 
.skills-container{
    font-size: 0.7rem;
}
}

@media screen and (max-width: 700px) {
    footer{
        margin-top: 5rem;
        padding: 2rem;
    }
    #footer-nav, .dm{
        display: none;
    }.footer-main, .footer-menu2{
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        /* justify-content: center; */
    }.footer-main{
        gap: 3rem
    }.copy{
        font-size: 1rem;
    }.footer-menu2 a{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    .hero{
        height: 83vh;
        margin-bottom: 10vh;
    }
    .logo{
        font-size: 1.5rem;
    }
    .section__pic-container {
        width: auto;
        justify-content: center;
        height: 46vw;
    }
    .title{
        font-size: 2rem;
    }
    .section__text__p2{
        font-size: 1.25rem;
    }
    .section__text{
        text-align: center;
    }  
    .mobile-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    z-index: 1;
  }
  .mobile-links li a{
    font-size: 1.25rem;
  }
  .form-row{
    flex-direction: column;
  }
}

@media screen and (min-width: 581px) {
    .form-row:first-of-type, .input-group{
        width: 70%;
    }
}